<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KinectTFG2016.Properties.Settings.KinectBDConnectionString"
            connectionString="Data Source=DAVID-PORTATIL\DAVID;Initial Catalog=KinectBD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>